.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(45deg, #fcee59, #F6B231);
    padding: 0 1rem 0 1rem;
    min-width: 100vh;
    height: 30rem;
}
.hero-logo-container img{
    display: block;
    user-select: none;
    height: 25rem;
    width: 25rem;
}
.mission-statement{
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: transparent;
    background: linear-gradient(45deg, #f1eaea, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1225px){
    .mission-statement{
        font-size: 1rem;
    }
    .hero-logo-container img{
        height: 20rem;
        width: 20rem;
    }
}