.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--text-black-primary);
    height: calc(100vh - var(--navbar-height));
}
.hero-text-primary{
    text-transform: capitalize;
    font-size: 50px;
}
.hero-sub-one{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-sub-two{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-text-secondary{
    font-size: 25px;
    font-weight: normal;
    width: 80%;
}