.staff-container-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.staff-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
}
.staff-container h1{
    text-align: center;
}
.staff-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--staff-card-width), 1fr));
    justify-items: center;     
    align-items: center;  
    place-content: center;
    width: 100%;
}
@media (max-width: 1370px) {
    .staff-card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 12rem;
    }
    .staff-card-container.mentor:has(:only-child) {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
@media (max-width: 950px){
    .staff-card-container{
        grid-template-columns: 1fr;
    }
}