:root{
    --navbar-height: 5.3rem;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--navbar-height);
    padding: 0 7rem 0 7rem;
    background: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: row;
    z-index: 100;
}
.navbar-container::after{
    content: '';
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    height: 6px;
    width: 100%;
    background: linear-gradient(45deg, #fcee59, #F6B231);
}
.navbar-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    text-align: center;
}
.navbar-right .navbar-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
}
.navbar-right .navbar-links p{
    color: var(--text-blue-primary);
    text-decoration: none;
    font-size: 18px;
}
.navbar-right .navbar-links p:hover{
    cursor: pointer;
}
.navbar-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: 20px;
}
.navbar-title h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
     gap: 2px;
}
.navbar-title:hover{
    cursor: pointer;
}
.navbar-title-emp-left{
    display: inline-block;
    color: var(--text-blue-primary);
    text-transform: uppercase;
}
.navbar-title-emp-right{
    display: inline-block;
    color: var(--text-yellow-primary);
}
.sidebar-toggle{
    color: var(--text-blue-primary);
    text-align: left;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    font-size: 20px;
}
.sidebar-wrapper{
    z-index: 100;
    position: fixed;
}
.sidebar-container{
    display: none;
    background-color: var(--bg-yellow-secondary);
    width: 100vw;
    height: 80vh;
    overflow-y: auto;
}
.Link{
    text-decoration: none;
    color: var(--text-blue-primary);
}
.sidebar-links{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.link-bars{
    padding-left: 2rem;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 3rem;
}
.link-bars:hover{
    background: #f8ec64;
}
.sidebar-open{
    display: flex;
}

@media(max-width: 1100px){
    .navbar-right{
        display: none;
    }
    .navbar-left{
        margin: 0 auto;
        text-align: center;
    }
    .sidebar-toggle{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 24px;
        text-align: center;
        padding: 0.5em;
        border: 0;
        background: none;
    }
}
@media(max-width: 575px){
    .navbar-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-title{
        font-size: 15px;
    }
    .sidebar-toggle{
        font-size: 15px;
    }
}
