*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.spacer{
    display: block;
    background: linear-gradient(45deg, #fcee59, #F6B231);
    width: 100%;
    padding-top: var(--navbar-height);
}