*{
    font-family: "Poppins", sans-serif;
}
:root{
    --text-blue-primary: #6366f1;
    --text-yellow-primary: #F6B231;
    --text-black-primary: #252525;

    --bg-blue-primary: #6366f1;
    --bg-yellow-primary: #F6B231;
    --bg-yellow-secondary: #fcee59;

    --bg-blue-accent: #575aef;
}
.spacer{
    display: block;
    width: 100%;
    margin-top: var(--navbar-height);
}
.emp-text-blue{
    color: var(--text-blue-primary);
}
button{
    background: var(--bg-blue-primary);
    color: white;
    border: 0;
    font-weight: 500;
    border-radius: 8px;
    font-size: 18px;
    padding: 8px 10px 8px 10px;
}
button:hover{
    cursor: pointer;
    background-color: var(--bg-blue-accent);
}
.Link:hover{
    cursor: pointer;
}